.footer1 footer2 footer3 footer4 nav-link {
}

.text {
  background-color: #D8D9CF;
}

.text-body {
  background-color: #fff;
    margin: 0 3rem;
}

.text-para{
margin: 0 2rem;
}

.main h1, h4{
 margin: 2rem;
}
